body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: gray;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  font-family: "Bebas Neue", cursive;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 100px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 26px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

#valorConvertido {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

#deMoedaLocal {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
  width: 200px;
}

#paraMoedaEstrangeira {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
  width: 200px;
}

#textoDeAviso {
  color: red;
}

.logo-setas {
  width: 50px;
}
